.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border: 2px solid gold;
    border-radius: 2px;
    background-color: rgb(4, 4, 155);
    margin: 0px;
    padding: 10px;
}

.leftside {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 50px;
    height: 50px;
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 20px;
    padding: 5px;
    border: 2px solid gold;
    background-color: rgb(17, 48, 221);
}

.title {
    font-family: Arial;
    font-size: 25px;
    font-size: 700;
    color: gold;
}

.rightside {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-right: 50px;
}

.query-select {
    font-size: 20px;
    color: rgb(243, 188, 51);
    background-color: black;
}
