.componentContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: green;
}

.componentTitle {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    font-weight: 500;
    color: white;
}

.maincontent {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 80%;
    margin-top: 20px;
}

.componentLeftside, .componentRightside {
    background-color: bisque;
    width: 40%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.componentRightside {
    background-color: blueviolet;
}

.barGraph {
    height: 400px;
    width: 100%;
}

.minAge1, .maxAge1, .sex1, .minYear1, .maxYear1, .minAge2, .maxAge2, .sex2, .Go2 {
    background-color: black;
    color: white;
}

.queryMetadata {
    color: white;
}

.queryTitle {

}

.queryDesc {

}
