.componentContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: green;
}

.componentTitle {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    font-weight: 500;
    color: white;
}

.maincontent {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 80%;
    margin-top: 20px;
}

.telemetryComponentLeftside, .telemetryComponentRightside {
    background-color: bisque;
    width: 40%;
    padding: 20px;
    display: flex;
    align-items: center;
}

.telemetryComponentRightside {
    background-color: rgb(121, 51, 51);
}
